/* Note :- Navigation and footer and breadcrumb css is same for all the page (Home page dont have breadcrumb)
        :- CSS of all the page is in style.css only. */



*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Home Page */


/* Navigation Bar  */
.navbar{
    background-color: #FEFCFF;
}

.navbar-brand{
    width: 30%;
    display: flex;
    justify-content: right;
}
@media (max-width:900px) {
    .navbar-brand{
        width: auto;
    }
}

.navbar-brand img{
    box-shadow: 0 0 15px black;
}

.navbar-nav{
    width: 70%;
    justify-content: center;
}

.navbar-nav li{
    margin-right: 2rem;
}

@media(max-width:780px){
    .navbar{
        padding: 0px;
    }
    .navbar-light .navbar-brand{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0px;
    }
    .navbar-nav{
        width: 100%;
        justify-content: center;
        background-color: #190050;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .navbar-nav li {
        margin-right: 0rem;
    }
    .nav-item a{
        color: #FEFCFF !important;
        font-weight: 500 !important;
    }
    .nav-item .nav-link{
        padding: 0px;
        margin: 5px;
    }
}

/* .sign-in{
    justify-content: right !important;
    margin-right: 10px;
} */

/* Navigation Bar  */

/* carousel-section */

@media (max-width:900px){
    .carousel, .carousel-inner, .carousel-item{
        height: 230px;
    }
    .carousel-item img{
        height: 100%;
    }
}

.carousel-content{
   position: absolute;
   display: inline-block;
   bottom: 270px;
   width: 100%;
   height: auto;
}

.carousel-content h1, h3{
    text-align: center;
   color: #ffffff;
   font-weight: bolder;
   font-size: 50px;
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* carousel-section */


/* card */

.container{
    display: flex;
    width: 80%;
    justify-content: center;
}

.card{
    width: 30% !important;
    height: 280px;
    margin: 10px;
    display:inline-block;
    position: relative;
    bottom: 7rem;
    background-color: rgb(9, 5, 87);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.card img{
    width: 70px;
    height: auto;
    margin-left: 40%;
    margin-right: auto;
    margin-top: 20px;
}

.card-body{
    color: #fffc39;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media(max-width:750px){
    .card-con{
        margin-top: 10%;
    }
    .container{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: none;
    }
    .card{
        width: 90% !important;
        margin-left: 5%;
        position: none;
        bottom: 0px;
        box-shadow: 0px, 0px, 1px white;
    }

    .card img{
        width: 70px;
        height: auto;
        margin-left: 35%;
        margin-right: 30%;
        padding: auto;
        margin-top: 20px;
    }
}
/* card */


/* span red-col *//* our institute *//* mission-vission  */
.red-col{
    color: red;
}
.ylo-col{
    color: #fffc39;
}
/* span red-col *//* our institute *//* mission-vission  */


/* our institute */
.institute{
    margin-bottom: 5%;
}

.content-box{
    margin-right: 5%;
}
@media (max-width: 780px){
    .institute{
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .content-box{
        margin-right: 0%;
        margin-bottom: 10%;
    }
    .content-box button{
        margin-top: 2%;
    }
    .video-img{
        margin-bottom: 5%;
    }
    .video-img img{
        width: 100%;
        height: auto;
        margin: auto;
    }
}

/* our institute */

/* mission-vission  */
.mission-vision{
    margin-bottom: 5%;
}

.content-box-mv{
    margin-left: 5%;
}
@media (max-width: 780px){
    .mission-vision{
        margin-bottom: 10%;
    }
    .content-box-mv{
        margin-right: 0%;
        margin-bottom: 10%;
    }
    .content-box-mv button{
        margin-top: 2%;
    }
    .video-img-mv{
        margin-bottom: 5%;
    }
    .video-img-mv img{
        width: 100%;
        height: auto;
        margin: auto;
    }
}



/* mission-vission  */

/* mini-bar */


        .content-single{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .main-con{
        padding-right: 4%;
        margin: 4.5%;
        color: #FEFCFF;
    }
    
    @media (max-width:780px){
        .content-single{
            text-align: center;
        }

        .main-con{
            padding-right: 5%;
            margin: 2%;
            position: relative;
            top: 55px;
        }
    }

   

/* mini-bar */


/* course-card */

.course-tile-sec{
    margin-top: 5% !important;
}

.heading-course{
    text-align: center;
    margin-bottom: 3%;
}

.course-card{
    bottom: 0px !important;
    position: none !important;
}
/* course-card */


/* Reach us for query */

    .query{
        margin-top: 5%;
    }
    .query-details ul{
        list-style-type: none;
    }

    .query-sec, .query-form, .gif-con{
        width: 50%;
    }

    .gif-con{
        margin-top: 10%;
        margin-left: 15%;
    }
    .ani-img{
        width: 100%;
        height: auto;
    }

    .query-form input, textarea, select{
        width: 80%;
        margin: 10px;
    }

    @media (max-width:780px){
        .query-details{
            text-align: center;
        }
        .query-sec, .query-form{
            width: 100%;
        }
        
        .gif-con{
            margin-bottom: 5%;
            margin-left: 20%;
        }
        .query-form input, textarea, select{
            margin-left: 9%;
        }
    }




/* Reach us for query */


/* footer section  */
    .footer{
        margin-top: 3%;
        padding-bottom: 2%;
        padding-top: 3%;
        background-color: rgb(9, 5, 87);
    }
    .heading-foot{
        font-weight: 500;
    }
    .address{
        margin-top: 1.5%;
    }

    .address, .address a{
        color: #FEFCFF;
        text-decoration: none;
    }

    .address, .map{
        width: 50%;
        height: 270px;
    }

    @media(max-width:780px){
        .address, .address a{
            text-align: center;
        }
        .address-main p,a{
            margin-bottom: 20px;
            margin-top: 25px;
        }
        .address, .map{
            width: 100%;
        }
        .social{
            margin-bottom: 25px;
        }
    }


    
/* social media icon start */

.fa {
    padding: 9px;
    font-size: 15px;
    width: 34px;
    height: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 80%;
}

/* Facebook Google Linkedin Twitter */

.fa-facebook,
.fa-google,
.fa-linkedin,
.fa-instagram {
    background: #102d6b;
    color: white;
}
.social{
    margin-top: 2%;
}




/* social media icon end */

/* footer section  */





/* Home Page */


/* ******************************************-End of Home Page Css-*********************************************** */


/* Course Page */

/* Breadcrumb section  */

.breadcrumb{
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 200px;
}
@media(max-width:780px){
    .breadcrumb{
        height: 150px;
    }
}

.crumb-sec{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10%;
    top: 30%;
}

.breadcrumb-title h2{
        color: #FEFCFF;
}

.nav-bread a{
    color: #FEFCFF;
    font-weight: 500;
    text-decoration: none;
}
    


/* Breadcrumb section  */

/* course detail section  */

.course{
    margin-top: 5%;
    margin-bottom: 5%;
}

.fluid-con{
    margin-bottom: 5%;
}

.course-detail{
    width: 60%;
    height: auto;
    margin-right: 5%;
    background-color: #FFFAFA;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
@media(max-width:780px){
    .course-detail{
        width:100%;
        margin-right: 0px;
    }
}

.course-head{
    margin: 20px;
    text-align: center;
}
.course-discrip{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.course-discrip p{
    width: 80%;
    font-size: 13px;
    font-weight: 400;
}

.learn-tile{
    margin: 15px;
}

.course-index ul li{
    font-size: 14px;
    list-style-type: none;
}

.index-overview p{
    font-size: 14px;
}

.learn-tile .lt-course{
    text-align: center;
}

.course-index, .index-overview{
    width: 50%;
}
@media(max-width:780px){
    .course-detail{
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .course-index, .index-overview{
        width: 100%;
    }
    .course-index h6, p, li{
        text-align: center;
        
    }
    .index-overview h6{
        text-align: center;
    }
    .course-index ul{
        padding: 0px;
    }
}

.course-info-detail{
    width: 35%;
    height: auto;
    background-color: #190050;
    border: 1px #0f0045;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}
@media(max-width:780px){
    .course-info-detail{
        width: 100%;
    }
    .title-sale h2{
        text-align: center;
    }
}

.title-sale h2{
    margin: 20px;
    color: #FEFCFF;
}

.things-you-get{
    text-align: center;
    font-weight: 500;
    color: #FEFCFF;
}
.things-you-get ul{
    padding: 0%;
}
.things-you-get ul li{
    list-style-type: none;
}
.certificate{
    width: 100%;
    margin-left: 10%;
}
.certificate .cer-tag{
    width: 80%;
}
.certificate .cer-tag h6{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.certificate img{
    width: 80%;
    height: 160px;
}

.btn-course{
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    border: 1px solid yellow;
    border-radius: 9px;
}
.btn-course a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    font-weight: 500;    
}

.button-buy{
    width: 70%;
    margin-top: 8.5%;
    margin-left: 15%;
}

.button-buy a{
    text-decoration: none;
    color: #FEFCFF;
    font-size: 15px;
    font-weight: 500;
}

/* course detail section  */









/* Course Page */



